@import 'util.scss';

.mobile-header {
  position: relative;
  z-index: 20;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: start;

  .mobile-nav-content {
    width: 100%;
    padding: 24px;
  }

  .login-button {
    @include button1-small;
  }

  .logout-button {
    @include button2-small;
  }

  &.open {
    transform: translateX(0);
  }
}

.login-button {
  @include button1;
}

.logout-button {
  @include button2;
}

// 반응형
@media screen and (max-width: 923px) {
  .header {
    display: none;
  }
}
