@import './util.scss';

.pet-setting-container {
  padding: 2rem;

  .pet-card {
    border: 1px solid $color-4;
    border-radius: 12px;
    padding: 20px;
    @include box-shadow;
    background-color: $color-white;
  }

  .collab-card {
    border: 1px solid $color-4;
    border-radius: 12px;
    @include box-shadow;
    background-color: $color-white;
    width: 600px;

    .btn-invite,
    .btn-delete {
      @include button2;
    }

    .collaborator-grid {
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 923px) {
        grid-template-columns: repeat(2, 1fr);
      }

      label {
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-4px);
        }

        input[type='checkbox']:checked + img {
          box-shadow: 0 0 0 4px $color-4;
        }
      }
    }
  }
}
